<div class="contents card">
    <div class="block">
        <i class="fas fa-user"></i>
        <span class="text">Profile</span>
    </div>
    <div class="main-contents">
        <div class="block main-layout">
            <img class="profile-image" src="assets/img/profile.png">
        </div>
        <div class="block main-layout">
            <span class="name">Tomoya Toyoda(tomoyan)</span>
        </div>
        <div class="block main-layout">
            <span class="body">
                情報系専攻～都内IT系会社勤務です。<br>
                仕事ではインフラエンジニアを名乗っています。
            </span>
        </div>
    </div>
    <div class="block">
        <i class="fab fa-twitter"></i>
        <a class="text" href="https://twitter.com/tomoyanpypi">@tomoyanpypi</a>
    </div>
    <div class="block">
        <i class="fab fa-github"></i>
        <a class="text" href="https://github.com/tomoyanp">@tomoyanp</a>
    </div>
    <div class="block">
        <i class="fas fa-envelope"></i>
        <a class="text" href="mailto:tomoyanpy@gmail.com">tomoyanpy@gmail.com</a>
    </div>
</div>