<div id="header">
    <div class="header-contents">
        <ul class="menues">
            <li class="menu">
                <a routerLink="/top" class="menu-text">Tomoyanpy's Blog</a>
            </li>
            <li class="menu">
                <a routerLink="/article" class="menu-text">記事一覧</a>
            </li>
            <li class="menu">
                <a routerLink="/profile" class="menu-text">Profile</a>
            </li>
        </ul>
        <ul class="menues icons">
            <li class="menu icon">
                <i class="fab fa-twitter"></i>
            </li>
            <li class="menu icon">
                <i class="fab fa-github"></i>
            </li>
            <li class="menu icon" (click)="changeSidenavStatus()">
                <i class="fas fa-bars"></i>
            </li>
        </ul>
    </div>
</div>